{% extends "updatecontact.html" %}

			{% block PersonID %}
            <div class="form-group">
                {{ form.PersonID.label(class="form-control-label") }}
                {% if form.PersonID.errors %}
                    {{ form.PersonID(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.PersonID.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.PersonID(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			{% endblock PersonID %}
			{% block EmployeeType %}
			<div class="form-group">
                {{ form.EmployeeType.label(class="form-control-label") }}
                {% if form.EmployeeType.errors %}
                    {{ form.EmployeeType(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.EmployeeType.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.EmployeeType(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			{% endblock EmployeeType %}
			{% block Manager %}
			<div class="form-group">
                {{ form.Manager.label(class="form-control-label") }}
                {% if form.Manager.errors %}
                    {{ form.Manager(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.Manager.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.Manager(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			{% endblock Manager %}
			{% block ManagerID %}
			<div class="form-group">
                {{ form.ManagerID.label(class="form-control-label") }}
                {% if form.ManagerID.errors %}
                    {{ form.ManagerID(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.ManagerID.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.ManagerID(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			{% endblock ManagerID %}