{% extends "updatecontact.html" %}

			{% block PersonID %}
            <div class="form-group">
                {{ form.PersonID.label(class="form-control-label") }}
                {% if form.PersonID.errors %}
                    {{ form.PersonID(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.PersonID.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.PersonID(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			{% endblock PersonID %}
			