{% extends "layout.html" %}
{% block content %}
    <h1>Modify Settings Here</h1>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example settings field</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your first name" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example settings field</label>
        <textarea class="form-control" id="exampleFormControlTextarea2" placeholder="Enter your last name" rows="1"></textarea>
    </div>
{% endblock content %}